@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS to prevent overflow and remove default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,a,div,span{
  font-family: manrope;
}
